* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.data-lang {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.d-textarea {
    width: 78em;
    height: 36em;
    border: 0.24em solid grey;
    border-radius: 8px;
    color: wheat;
    overflow-y: auto;
    background-color: black;
    font-family: verdana;
    font-weight: bold;
    padding: 2rem 3rem;
    list-style-type: none;
}

.d-textarea li {
    margin-bottom: 2.5em;
    text-align: center;
}

.d-buttons {
    display: flex;
    height: 18em;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 2.5em;
    position: relative;
}

.d-buttons button span {
    display:inline-block;
    transform: rotate(-45deg);
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    white-space: nowrap;
}

.d-buttons button {
    border-style: none;
    border-radius: 0.5em;
    cursor: pointer;
    transform: rotate(45deg);
    width: 8em;
    height: 8em;
}

button:hover {
    opacity: 0.6;
}

.d-buttons button:first-child {
    background-color: gray;
    translate: -5% 0%;
}

.d-buttons button:nth-child(2) {
    background-color: midnightblue;
    position: absolute;
    translate: 0% -75%;
}

.d-buttons button:nth-child(3) {
    background-color: lightseagreen;
    translate: 5% 0%;
}

.d-buttons button:last-child {
    background-color: red;
    position: absolute;
    translate: 0% 75%;
}



@media only screen and (max-width: 768px) {
    body {
        background-color: lightblue;
    }

    .d-buttons {
        column-gap: 1.2em;
        height: 6em;
    }

    .d-textarea {
        width: 20em;
        justify-content: center;
        align-items: center;
    }

    .d-textarea li {
        margin-bottom: 1em;
    }

    .d-buttons button {
        width: 4em;
        height: 4em;
    }

    .d-buttons button span {
        scale: 0.65;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1250px) {
    body {
        background-color: blue;
    }

    .d-buttons {
        column-gap: 2.0em;
        height: 12em;
    }

    .d-textarea {
        width: 46em;
        justify-content: center;
        align-items: center;
    }

    .d-textarea li {
        margin-bottom: 1.5em;
    }

    .d-buttons button {
        width: 6em;
        height: 6em;
    }

    .d-buttons button span {
        scale: 0.9;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
